<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="../images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & manage updates</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo
      totam recusandae dolorum pariatur temporibus earum nemo obcaecati, et sunt
      id? Sint voluptatem blanditiis praesentium qui quod, et deserunt
      obcaecati.
    </p>
  </div>
</div>
